:root {
    --primary: #19a7ce;
    --bg: #27374d;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  body {
    font-family: Poppins, sans-serif;
    background-color: var(--bg);
    color: #ffffff;
    /* min-height: 2000px; */
  }
  
  /* navbar */
  .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 9%;
    background-color: rgba(82, 109, 130, 50);
    border-bottom: 2.5px solid #19a7ce;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(82, 109, 130, 0.5);
  }
  
  .navbar .navbar-logo {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: var(--primary);
  }
  
  .navbar .navbar-nav {
    margin-left: auto;
  }
  
  .navbar .navbar-nav a {
    font-size: 20px;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    margin-right: 3rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
    transition: 0.2s ease-in-out;
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    border-bottom: 1.5px solid var(--primary);
    transform: scaleX(0);
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
    transition: 0.2s linear;
  }
  
  .navbar .navbar-extra a {
    color: #ffffff;
    margin: 0 0.5;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }
  
  /* Contact Us */
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 44px;
    margin-top: 8.5%;
    background-color: #0f4c75;
    height: 200px;
    width: 100%;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .contact .form {
    background-color: rgba(25, 167, 206, 0.3);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact .form h4 {
    color: #19a7ce;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .contact .form input[type="text"],
  .contact .form textarea {
    width: 100%;
    padding: 10px;
    border: 3px solid #19a7ce;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .contact .form input[type="radio"] {
    display: flexbox;
    padding-left: 5px;
    color: #ffffff;
  }
  
  
  .contact .form .btn {
    background-color: #19a7ce;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: 2.5px solid #ffffff;
  }
  
  .contact .form .btn:hover {
    background-color: #0f4c75;
  }
  
  .contact .form .error {
    color: #ff4d4d;
    font-size: 20px;
    font-weight: 200;
    margin: 5px;
  }
  
  .contact .form .row50 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact .form .row50 .inputBox {
    flex: 50%;
    padding: 0 10px;
  }
  

  .contact .form .row100 .inputBox {
    flex: 100%;
    padding: 0 10px;
  }
  
  /* Footer */
  footer {
    background-color: #2E3339;
    padding: 20px;
    text-align: center;
  }

  .socials {
    margin-bottom: 20px;
  }

  .socials a {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    font-size: 20px;
  }

  .socials a:hover {
    color: #19a7ce;
    transition: 0.3s ease-in-out;
  }

  footer div {
    margin-bottom: 10px;
  }

  footer div a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
  }

  footer div a:hover {
    color: var(--primary);
    transition: 0.3s ease-in-out;
  }

  .credit {
    margin-top: 20px;
    color: #ffffff;
  }
  .credit span {
    margin-top: 20px;
    color: var(--primary);
  }
  
  
  /* Media Queries  */
  /* Desktop */
  @media (max-width: 1350px) {
    html {
      font-size: 70%;
    }
  }
  
  @media (max-width: 1250px) {
    html {
      font-size: 60%;
    }
    .navbar .navbar-logo {
      font-size: 28px;
    }
    .navbar .navbar-nav a {
      font-size: 18px;
    }
  }
  
  @media (max-width: 1030px) {
    html {
      font-size: 50%;
    }
    .navbar .navbar-logo {
      font-size: 25px;
    }
    .navbar .navbar-nav a {
      font-size: 15px;
    }
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 60%;
    }
    .navbar .navbar-logo {
      font-size: 25px;
    }
  
    #hamburger-menu {
      display: inline-block;
    }
  
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: #19a7ce;
      width: 25rem;
      height: 100vh;
      transition: 0.3s;
    }
  
    .navbar .navbar-nav.active {
      right: 0;
      color: var(--bg);
    }
  
    .navbar .navbar-nav a {
      color: #ffffff;
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 15px;
    }
  
    .navbar .navbar-nav a:hover {
      color: var(--bg);
      transition: 0.3s ease-in-out;
    }
    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
      border-bottom: 0.3rem solid var(--bg);
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
      transition: 0.3s;
    }
  }
  
  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 40%;
    }
    .navbar .navbar-logo {
      font-size: 18px;
    }
  }
  